/* hero.css */
#home {
  background-image: url("../../assets/headerBg.png");
  background-position: right;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.principal {
  border-left: 1px solid gray;
}
.hero-text {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 640px) {
  #home {
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(7, 2, 11, 1) 55%,
      rgb(43, 8, 78) 100%
    );
  }

  .principal {
    border-left: none; /* Elimina el borde en pantallas pequeñas */
    padding-left: 0; /* Elimina el padding cuando no hay borde */
  }

  h1 {
    font-size: 4xl; /* Ajuste de tamaño para pantallas pequeñas */
  }
}
